.image {
    display: block;
    height: 360px;
    width: 640px;
    border-radius: 41.5px;
    border: 5px solid lightgray;

}

.image:hover {
    border: 5px solid #4B9CD3;
    transition-duration: 1s;
}

.gallery {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 100px;
    
}

.desc{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.food-desc {
    text-align: left;
    font-size: 20px;
    margin-left: 20px; 
}

