.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0%;
    background: #4B9CD3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.topbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 40px;;
    text-decoration: None;
}

.topbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.topbar a:hover:before {
    width: 100%;
}

.topbar input[type=text] {
    float: right;
    padding: 6px;
    margin-left: 1320px;
    border: none;
    font-size: 13px;
  }

